* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgba(0,150,136,255);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 35px;
    border-radius: 50%;
}

i:hover {
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
}


.box-grande-app {
    height: 85vh;
    width: 80vw;
    border-radius: 20px;
    background-color: rgba(234,234,234,255); 
    margin: 50px;
    display: flex;
}


.icone {
    display: flex;
    margin: 5px;
}

.icone i {
    display: flex;
    margin: 10px;
}



#x {
    margin-left: 20px;
    color: red;
}


.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-up {
    border-radius: 20px;
    display: flex;
    background-color: rgba(234,234,234,255);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.navbar-up img {
    height: 40px;
    margin: 10px;
}


.navbar-up .up-left {
    display: flex;
    align-items: center;
} 

.navbar-middle {
    background-color:#8edafc;
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar-middle a {
    font-size: 15px;
    margin: 20px;
    color: #527a8c;
}

.navbar-middle i {
    font-size: 20px;
    background-color: white;
    color: #8edafc;
    margin-left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.navbar-down {
    background-color:  white;
    height: 50px;
}

.navbar-down input{
    background-color:rgba(234,234,234,255) ;
    border-radius: 10px;
}

.navbar-down i {
    background-color:rgba(234,234,234,255) ;
    border-radius: 10px;
    margin-left: 10px;
}

.inside-navbar-down {
    margin: 5px;
    background-color: white;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-navbar-down i {
    border: 1px solid gray;
    padding: 6px;
}

.place {
    width: 90%;
    height: 30px;
}

.navbar-down-down { 
    height: 60vh;
    /* background-color: blue; */
}

.navbar-chat {
    background-color: white;
    flex: 1 0 0;
    overflow-y: scroll;
    border-radius: 10px;
}

.lista-vfor{
    height: 100%;
    border-radius: 10px;
}
.lista-dentro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-top: 1px solid gray;
}

.lista-dentro:hover {
    background-color: rgb(184, 183, 183);
}

.lista-dentro img {
    height: 50px;
}

.lista-vfor-dentro .data {
    color: #ccd3e0;
}


.contatti-dentro {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.nome-contatto {
    font-size: 20px;
}

.messaggio-contatto {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}


.chatbar {
    border-radius: 20px;
    height: 99%;
    width: 65%;
    background-color: rgba(234,234,234,255);
    margin: 5px;
}

.chatbar-top {
    border-radius: 20px;
    width: 100%;
    background-color:  rgba(234,234,234,255);
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone-2 {

}



.left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
}

.chatbar-top i {
    margin: 25px;
    font-size: 20px;
}

.profile-chat {
    display: flex;
    justify-content: center;
    align-items: center;
}


.chatbar-middle {
    height: 83%;
    background-color: salmon;
    object-position: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}




.chatbar-down {
    height: 8%;
    background-color: rgba(234,234,234,255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chatbar-down input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
}

.chatbar-down i {
    font-size: 25px;
}



.recived {
    background-color: white;
	align-self: flex-start;
    justify-content: space-between;
    display: flex;
	margin:1rem;
	padding: 1rem;
	width: 20rem;
	border-radius: 10px;
}

.data {
    color: gray;
    font-size: 10px;
}


.online {
    color: gray;
}

.send {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    margin-top: 20px;
    background-color: rgb(159, 224, 142);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


.chat {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.recived i {
    display: none;
}

.send i {
    color: blue;
}
