<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titolo -->
    <title>boolzapp</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/c88a405b1b.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <!-- js -->
    <script src="js/script.js" defer></script>
</head>
<body>
    <div id="app">
        <!-- box grande di partenza -->
        <div class="box-grande-app">
            <!-- navbar laterale -->
            <div class="navbar">
                <!-- profilo -->
                <div class="navbar-up">
                    <!-- chiudi app  -->
                    <i class="fa-solid fa-circle-xmark" id = "x" ></i>
                    <!-- icone e immagine profilo  -->
                    <div class="icone">
                        <!-- immagine  -->
                        <div class="up-left"><img src="http://pm1.narvii.com/6915/bcb4141450396aba133211853b2b3670a415f148r1-388-342v2_00.jpg">
                        <!-- icone  -->
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-regular fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <!-- notifiche messaggi -->
                <div class="navbar-middle">
                    <i class="fa-solid fa-bell-slash" ></i>
                    <a  href="!#">attiva notifiche desktop</a>
                </div>
                <!-- cerca chat -->
                <div class="navbar-down">
                    <div class="inside-navbar-down">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="cerca o inizia una nuova chat" class="place" @keyup= "ricercaChat" v-model="nomeCercato">
                    </div>
                </div>


                
                <!-- chat -->
                <div class="navbar-chat">
                    <!-- account -->
                    <div class="lista-vfor">
                        <!-- creazione del ciclo per far comprarire le immagini, e del click per cambiare il testo al suo click  -->
                        <div class="navbar-chat" v-for="(contact, i) in contacts" @click = " chatSelezionata(i) " v-if = " contact.visible === true">
                            <!-- se corrisponde a true allora appare, collegando index a currentindex = i  -->                            
                            <div class="lista-dentro">
                                <!-- immagine  -->
                                <div>
                                    <img class="img-chat" :src="contact.avatar" alt="">
                                </div>
                                <!-- testo -->
                                <div class="contatti-dentro">
                                    <div class="testo">                                    
                                        <div class="nome-contatto">{{ contact.name + ':'}}</div>
                                        <div class="messaggio-contatto">{{ contact.messages[contact.messages.length - 1].message  }}</div>
                                    </div>
                                    <!-- orario -->
                                    <div class="data">{{ contact.messages[contact.messages.length - 1].date }}</div>
                                </div>
                            </div>                     
                        </div>
                    </div>
                </div>
                
            </div>


        <!-- fine navabar  -->
        <!-- inizio chat  -->




            <!-- inizio parte centrale -->
            <div class="chatbar">
                <div class="chatbar-top">
                    <!-- immagine nome + ultimo accesso  -->
                    <div class="left">
                        <!-- ciclo per le immagini e testo -->
                        <div  class="left" v-for="( contact , i ) in contacts" v-if=" i === currentIndex ">
                            <img :src=" contact.avatar "> 
                            <div>
                                <!-- nome  -->
                                <div>{{contact.name}}</div>
                                <!-- ultimo accesso  -->
                                <div class="online">online</div>
                            </div>
                        </div>
                    </div>
                    <!-- parte destra  -->
                    <div class="icone-2">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- parte della chat grande  -->
                <div class="chatbar-middle">
                    <div class="chat">
                        <!-- ciclo per far apparire gli ultimi messaggi  -->
                        <div class = "chat" v-for = "( contact , i ) in contacts" v-if = " i === currentIndex ">
                            <div v-for = " message in contact.messages " :class = "message.status ==='received'? 'recived':'send'" >
                                <div>{{message.message}}</div>
                                <div class="data">{{ message.date}}</div> 
                            </div>
                        </div>           
                    </div>
                </div>

                <!-- parte della scritta bassa  -->
                <div class="chatbar-down">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <!-- invio del messaggio al invio del bottone 'invio' -->
                        <input @keyup.enter="aggiungiMessaggioInvio" placeholder="invia un messaggio" v-model="newText">
                        <!-- bottone invias -->
                        <div @click = " aggiungiMessaggioInvio "><i class="fa-regular fa-paper-plane"></i></div>
                    <i class="fa-solid fa-microphone"></i> 
                </div>
            </div>
            <!-- fine chat  -->
        </div>
    </div>
    
</body>
</html>

